<div  class="card" >
    <div class="top-content" >
        <h2>Student Week Status</h2>
    </div>

<div class="card-body">
    <table class="custom-table">
        <thead>
            <tr>
                <th colspan="1" ></th>
                <th colspan="24" >WEEKS</th>
            </tr>
            <tr>
                <th> Name</th>
                <th>1</th>
                 <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
            </tr>
        </thead>
        <tbody>
            <tr  class="week-list"  *ngFor="let item of searchList;let i = index" >
                <td class="std-name" (click)="getStudentTaskPerfList(item._id)" >{{item.name}}  </td>
                <ng-container *ngFor="let items of totalWeekList; let i = index">
                    <td>
                      <ng-container *ngIf="item?.current_week > i; else unchecked">
                        <mat-checkbox checked disabled></mat-checkbox>
                      </ng-container>
                      <ng-template #unchecked>
                        <mat-checkbox disabled></mat-checkbox>
                      </ng-template>
                    </td>
                  </ng-container>
                  
               
               
                <!-- <td> <mat-checkbox></mat-checkbox> </td> -->
                
                
            </tr>
        </tbody>
    </table>
</div>

    
</div>