
<div  style="width: 100%;" >
    <div class="top-content" >

<h2>Faculty List</h2>

     <button mat-raised-button color="primary"  (click)="openFacultyAdd()" style="float: right;margin-bottom: 5px;"  >Add Faculty </button>
    </div>
    
    <table class="custom-table table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>Qualification</th>
                <th>Salary</th>
                <th>Join Date</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
        </tbody>
    </table>
    
    
    </div>