
<div  style="width: 100%;" >
    <div class="top-content" >
        <h2>Batch List</h2>
    </div>
    <table class="custom-table table">
        <thead>
            <tr>
                <th>No</th>
                <th>Batch No</th>
                <th>Start date</th>
                <th>Duration</th>
                <th>Current Status</th>
                <th>Number of Students</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
        
    </table>
    
    
    </div>