
<div  style="width: 100%;" >
    <div class="top-content" >
        <h2>Enquiry List</h2>
    </div>
    <table class="custom-table table">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Date</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
    <tr  *ngFor="let lst of userList;let i = index" >
        <td> {{i+1}} </td>
        <td> {{lst?.name}} </td>
        <td> {{lst?.mobile}} </td>
        <td> {{lst?.createdAt | date:date_format}}</td>

        <td class="al-center" >
           <div>
            <mat-icon *ngIf="lst.completed==0" class="update" (click)="openUpdate(lst)"  title="close" >
                update
            </mat-icon>
            <mat-icon   *ngIf="lst.completed==1"  class="done"  style="color: green;" >check</mat-icon>
           </div>
        </td>
    </tr>
    
        </tbody>
    </table>
    
    
    </div>