
<div  style="width: 100%;" >
    <div class="top-content" >
        <h2>User List</h2>
    </div>
    <table class="custom-table table">
        <thead>
            <tr>
                <th>No</th>
                <th>Email</th>
                <th>Join Date</th>
                <th  class="isStudent" >Student</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
        </tbody>
    </table>
    
    
    </div>