
<div  style="width: 100%;" >
    <div class="top-content" >
        <h2>Student List</h2>
     <button mat-raised-button color="primary"  (click)="openAddStudent()" >Add Student </button>
    </div>
    <table class="custom-table table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Fees</th>
                <th>Description</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let lst of searchList;let i = index" >
                <td> {{i+1}} </td>
                <td> {{lst?.username}} </td>
                <td> {{lst?.email}} </td>
                <td> {{lst?.createdAt | date:date_format}}</td>
                <td class="al-center" >
                   <div>
                    <mat-icon  class="edit" >
                        edit
                    </mat-icon>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    
    </div>