
<div  style="width: 100%;" >
    <div class="top-content" >
        <h2>Student List</h2>
     <button mat-raised-button color="primary"  (click)="openAddStudent(null,0)" >Add Student </button>
    </div>
    <table class="custom-table table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>User Name</th>
                <th>mobile</th>
                <th>address</th>
                <th> Batch </th>
                <th>Course</th>
                <th>Joint Date</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let lst of searchList;let i = index" >
                <td class="center" > {{i+1}} </td>
                <td> {{lst?.name}} </td>
                <td> {{lst?.username}} </td>
                <td> {{lst?.mobile}} </td>
                <td> {{lst?.address}}</td>
                <td class="center " > {{lst?.batch}}</td>
                <td> {{lst?.course}}</td>
                <td class="center" >  {{lst?.joinDate}}</td>
                <td class="al-center" >
                   <div>
                    <mat-icon  class="edit" (click)="openAddStudent(lst,1)" >
                        edit
                    </mat-icon>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    
    </div>