
<div  style="width: 100%;" >
    <div class="top-content" >
        <h2>Task List</h2>
     <button mat-raised-button color="primary"  (click)="openAddTaskForCourse(null,0)" >Add Task </button>
    </div>
    <table class="custom-table table">
        <thead>
            <tr>
                <th></th>
                <th>Week</th>
                <th>Task Name</th>
                <th>Course</th>
                <th>Active</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let lst of searchList;let i = index" >
                <td class="center" > {{i+1}} </td>
                <td> {{lst?.week}} </td>
                <td> {{lst?.task_name}} </td>
                <td> {{lst?.course_id}} </td>
                <td> {{lst?.active}}</td>
                <td class="al-center" >
                   <div>
                    <mat-icon  class="edit" (click)="openAddTaskForCourse(lst,1)" >
                        edit
                    </mat-icon>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    
    </div>