.top-content{
    display: flex;
    justify-content: space-between;
}

.center{
    text-align: center;
}

.al-center{
    div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.filter-box{
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 4px;
}