.top-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-content button{
    margin-right: 5px;
    margin-bottom: 5px;
}

.action{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update{
    color: blue;
    cursor: pointer;
}
.block{
    color: red;
    cursor: pointer;
}
