
<div  style="width: 100%;" >
<div class="top-content" >
    <h2>Courses</h2>
 <button mat-raised-button color="primary"  (click)="openCourseAddPopup()" >Add Course </button>
</div>
<table class="custom-table table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Fees</th>
            <th>Description</th>
            <th>Publish</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
<tr *ngFor="let lst of searchList">
    <td>  {{lst?.course}} </td>
    <td> {{lst?.duration}} </td>
    <td> {{lst?.fees}} </td>
    <td> {{lst?.description}} </td>
    <td> {{lst?.isPublished}} </td>
    <td  >  
        <div  class="action" >
            <mat-icon class="update" >update</mat-icon>
            <mat-icon  class="block" >block</mat-icon>
        </div>
      
    </td>
</tr>

    </tbody>
</table>


</div>