<div class="pop-header" >
    <span>
       Add  Task To Student
    </span>

    <span class="close-icon" >
<mat-icon  (click)="dialogRef.close()" >close</mat-icon>
    </span>
</div>

<div class="pop-content"  [formGroup]="itemForm" >

<div class="form-control">
    <label for="">Week</label>
    <input type="number"    formControlName="week" readonly>
</div>

<div class="form-control">
    <label for="">Task</label>
    <!-- <input type="text"  formControlName="taskName" > -->
    <select name="" id=""  formControlName="courseId" >
        <option *ngFor="let item of courseList" [value]="item._id"> {{item.course}} </option>
    </select>
</div>

<div class="form-control">
    <label for="">Remarks</label>
   <textarea name="" id=""  rows="2"  formControlName="remarks"  ></textarea>
</div>

<div class="form-control">
    <label for="">Task Pdf</label>
  <select name="" id=""  formControlName="taskId"  >
    <option  *ngFor="let item of taskList"   [value]="item._id" > {{item.task_name}} - week  {{item.week}} </option>
  </select>
</div>

<div class="form-control "  style="display: flex; flex-wrap: wrap;">
    <div class="form-control child">
        <label for="">date from</label>
        <input type="date"  formControlName="date_from"  [ngModel]="itemForm.controls['date_from'].value | date:'yyyy-MM-dd'" >
    </div>
    
    <div class="form-control child">
        <label for="">date to</label>
        <input type="date"  formControlName="date_to"  [ngModel]="itemForm.controls['date_to'].value | date:'yyyy-MM-dd'" >
    </div>
</div>

<div style="padding: 4px;">
  <mat-checkbox   formControlName="isCompleted" >completed</mat-checkbox>
</div>

</div>

<div class="pop-footer">
    <button  mat-raised-button  color="primary" (click)="saveTask()"  > submit </button>
</div>