<div class="pop-header" >
    <span>
       Add  Week Details
    </span>

    <span class="close-icon" >
<mat-icon  (click)="dialogRef.close()" >close</mat-icon>
    </span>
</div>

<div class="pop-content">

<div class="form-control">
    <label for="">Week</label>
    <input type="text">
</div>

<div class="form-control">
    <label for="">Remarks</label>
   <textarea name="" id=""  rows="2" ></textarea>
</div>

<div class="form-control">
    <label for="">Point</label>
    <input type="number">
</div>

<div style="padding: 4px;">
  <mat-checkbox>completed</mat-checkbox>
</div>

</div>

<div class="pop-footer">
    <button  mat-raised-button  color="primary" > submit </button>
</div>