<div class="card">
    <div class="pop-header">
      <span>
        New Student
      </span>
        <span>
            <mat-icon  (click)="dialogRef.close()" >close</mat-icon>
        </span>
    </div>
   
<div class="pop-content">
    <div class="form-control">
        <label for="">Batch No</label>
        <input type="text"  >
    </div>
    <div class="form-control">
        <label for="">Course</label>
        <input type="text"  >
    </div>
</div>

<div class="pop-footer">
    <button mat-raised-button  color="primary" >save</button>
</div>

</div>